$primary-normal: #ff69b4;
$primary-dark: #ff1493;
$primary-ligth: #FFB6C1;

$white: #fff;

$rose: #fff0f5;

$cinza-normal: #a9a9a9;
$cinza-dark: #696969;
$cinza-ligth: #dcdcdc;

$preto-normal: #06121e;

